body {
    font-family: Arial, sans-serif;
}

.sidenav, #infoPane {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 3.5rem;
    /* TODOD - keep the transition for new nav */
    /* transition: 0.05s; /* 0.5 second transition effect to slide the sidenav */
}

.sidenav {    
    left: 0;
}

#infoPane {
    right: 0;
}

.sidenav a, .nav-submit-link {
    /* padding: 0.5rem 0.5rem 0.5rem 2rem; */
    text-decoration: none;
    font-size: 1.1rem;
    color: #126;
    display: block;
    transition: 0.3s;
    border: none;
    background: none;
    cursor: pointer;
}

#modesTitle {
    font-size: 1.2rem;
}

.info-text {
    font-size: 0.7rem;
}

.sidenav a:hover, .nav-submit-link:hover{
    color: lightskyblue !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.8rem;
    font-size: 2.3rem;
    margin-left: 3.6rem;
}

#q-card {
    z-index: 0;
    width: 33rem;
    height: 35rem;
    position: relative;
}

#q-img {
    max-width: 100%;
    max-height: 18rem;
}

#q-form {
    position: absolute;
    bottom: 2rem;
    width: 94%;
}

#f-img {
    max-width: 100%;
    max-height: 13rem;
}

#quizResultModal {
    background-color: rgba(124, 117, 150, 0.5);
}

.modal-header, .modal-content, .modal-footer {
    background-color: rgb(255, 215, 0);
}

.modal-section, .btn-outline-dark {
    background-color: rgba(124, 117, 150, 0.05);
    border-color: rgba(124, 117, 150, 0.05);
}

.btn-outline-dark:hover {
    background-color: rgba(124, 117, 150, 0.6);
    border-color: rgba(124, 117, 150, 0.3);
    color: rgb(255, 215, 0);
}

.flag-cell {
    max-height: 1.5rem;
}

.search-btn {
    background-color: #126 !important;
    border: 1;
    border-color: gray;
    color: white;
}

.search-btn:hover {
    background-color: lightskyblue !important;
    border: 1;
    color: black;
}

.sort-form {
    display: inline-block;
    position: relative;
}

.sort-btn-top, .sort-btn-bottom {
    display: block;
    height: 0.5rem;
    border: none;
    background: transparent;
}

.sort-btn-top {
    position: absolute;
    bottom: 0;
}

.sort-btn-bottom {
    position: absolute;
    top: 0;
}