#q-card {
    width: 33rem;
    height: 35rem;
    position: relative;
}

#q-img {
    max-width: 100%;
    max-height: 18rem;
}

#q-form {
    position: absolute;
    bottom: 2rem;
    width: 94%;
}

#f-img {
    max-width: 100%;
    max-height: 13rem;
}